* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(246, 246, 246);
    display: flex;
}

.player-panel {
    border: 2px solid #888;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .5em;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.player-0-panel.active {
    background-color: yellow;
}

.player-1-panel.active {
    background-color: green;
}

.winner {
    font-family: 'Prata', serif;
    letter-spacing: 0;
    padding: 15px;
    font-size: 1em;
}

#new-game {
    padding: 5px;
    margin: 5px;
}

#player-0 {
    color: #2f4b77;
}

#player-1 {
    color: #841212;
}

.game-board {
    width: 650px;
    height: 650px;
    perspective: 1000px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}

.card {
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transition: transform .3s;
    transform-style: preserve-3d;
    transition: transform .5s;
}   

.card:active {
    transform: scale(.98);
}

.card.flip {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    padding: 20px;
    vertical-align: baseline;
    background-color: white;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg); 
}


